.root {
	display: flex;
	gap: var(--gap-xs);
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 138px;
	height: 44px;
	gap: 4px;
	padding: 13px 22px;

	background-color: var(--surface-bg-color-100);
	color: var(--text-base-color);
	border-radius: 54px;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		opacity: 0.7;
	}
}
.item[data-state="checked"] {
	background-color: #e8e8e8;
	color: var(--text-alternate-color);
}

.item img {
	width: 20px;
	height: 14px;
}

.item span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
