.root {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 130px;
	/*
	  Справа уменьшил отступ,
	  иначе с склонением не влезает на одну строку - "Individual * 6 месяцев",
	  в макете было просто "месяц"
	*/
	padding: var(--padding) calc(var(--padding) - 1em) 14px var(--padding);

	color: var(--text-alternate-color);
	cursor: pointer;
	transition:
		transform 0.2s ease,
		ring 0.2s ease;
	border-radius: 28px;

	&:hover {
		transform: translateY(-4px);
	}
	&::before {
		content: "";
		display: none;
		position: absolute;
		inset: -3px;
		border: 2px solid var(--success-color);
		border-radius: inherit;
	}
	&::after {
		content: "";
		display: none;
		position: absolute;
		inset: 0;
		background-color: #00000055;
		border-radius: inherit;
	}
}
.root_selected {
	&::before,
	&::after {
		display: block;
	}
}

.icon {
	width: 30px;
	height: 30px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.info {
	opacity: 0.7;
}
.price {
	font-size: var(--font-size-xl);
	font-weight: 700;
	font-family: "Inter Display", sans-serif;
}

.badge {
	position: absolute;
	top: var(--padding);
	right: var(--padding);
	padding: 6px;

	background: var(--success-color);
	color: #ffffff;
	font-size: var(--font-size-sm);
	border-radius: 8px;
	font-weight: 500;
	z-index: 2;
}
