.root {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.header {
	display: flex;
	align-items: center;
	gap: var(--gap-xs);
}

.info {
	padding: var(--gap-sm) var(--gap);
	color: var(--text-success-color);
	border-radius: 50px;
	background-color: rgba(0, 177, 63, 0.04);
}

.title {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.1;
}

.body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--gap-sm);
}
