@font-face {
	font-family: "Inter Display";
	src: url("/fonts/inter-display/ttf/InterDisplay-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter Display";
	src: url("/fonts/inter-display/ttf/InterDisplay-Medium.ttf")
		format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter Display";
	src: url("../fonts/inter-display/ttf/InterDisplay-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter Display";
	src: url("../fonts/inter-display/ttf/InterDisplay-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
