:root {
	--success-color: #00c245;

	--layout-bg-color: #1d1d1d;
	--surface-bg-color-100: #292929;
	--surface-success-bg-color: var(--success-color);

	--text-base-color: #ffffff;
	--text-secondary-color: #eaeaea;
	--text-alternate-color: #000000;
	--text-success-color: var(--success-color);

	--font-family: "Inter Display", sans-serif;
	--font-weight: 500;

	--font-size-sm: 12px;
	--font-size: 14px;
	--font-size-lg: 16px;
	--font-size-xl: 18px;

	--gap-xs: 8px;
	--gap-sm: 12px;
	--gap: 16px;
	--gap-lg: 20px;
	--gap-xl: 24px;
	--gap-xxl: 28px;

	--padding-xs: 8px;
	--padding-sm: 12px;
	--padding: 16px;
	--padding-lg: 20px;
	--padding-xl: 24px;
}
